<div>
  <div class="Filters">
    <div class="filter-rectangle estacao" [class.card-blue]="estacaoSelecionada != null">
      <label for="estacao" class="label" [class.card-blue]="estacaoSelecionada != null">Estação</label>
      <select name="estacao" id="estacao" class="select" [(ngModel)]="estacaoSelecionada" [class.card-blue]="estacaoSelecionada != null">
        <option [ngValue]="null">Todas</option>
        <option [ngValue]="'estacao1'">Estação 1</option>
        <option [ngValue]="'estacao2'">Estação 2</option>
      </select>
    </div>
    <div class="filter-rectangle trem" [class.card-blue]="tremSelecionado != null">
      <label for="trem" class="label" [class.card-blue]="tremSelecionado != null">Trem</label>
      <select name="trem" id="trem" class="select" [(ngModel)]="tremSelecionado" [class.card-blue]="tremSelecionado != null">
        <option [ngValue]="null">Todos</option>
        <option [ngValue]="'trem1'">Trem 1</option>
        <option [ngValue]="'trem2'">Trem 2</option>
      </select>
    </div>
    <div class="filter-rectangle locomotiva" [class.card-blue]="locomotivaSelecionada != null">
      <label for="locomotiva" class="label" [class.card-blue]="locomotivaSelecionada != null">Locomotiva</label>
      <select name="locomotiva" id="locomotiva" class="select" [(ngModel)]="locomotivaSelecionada" [class.card-blue]="locomotivaSelecionada != null">
        <option [ngValue]="null">Todas</option>
        <option [ngValue]="'locomotiva1'">Locomotiva 1</option>
        <option [ngValue]="'locomotiva2'">Locomotiva 2</option>
      </select>
    </div>
    <div class="filter-rectangle os" [class.card-blue]="osSelecionada != null">
      <label for="os" class="label" [class.card-blue]="osSelecionada != null">OS</label>
      <select name="os" id="os" class="select" [(ngModel)]="osSelecionada" [class.card-blue]="osSelecionada != null">
        <option [ngValue]="null">Todas</option>
        <option [ngValue]="'os1'">OS 1</option>
        <option [ngValue]="'os2'">OS 2</option>
      </select>
    </div>
    <button *ngIf="!buscaRealizada" type="button" class="button" (click)="realizaBusca()"><span class="button-span">BUSCAR</span></button>
    <button *ngIf="buscaRealizada" type="button" class="clean-button" (click)="limpaBusca()"><span class="button-span">LIMPAR BUSCA</span></button>
  </div>

  <div>
    <span class="Indicadores">INDICADORES</span>
  </div>

  <div class="display-line">
    <div class="card card-centro-oeste">
      <span class="card-span">8</span>
      <span class="card-location">Centro Oeste (CO)</span>
    </div>
    <div class="card card-sp-norte">
      <span class="card-span">2</span>
      <span class="card-location">SP Norte</span>
    </div>
    <div class="card card-sp-sul">
      <span class="card-span">4</span>
      <span class="card-location">SP Sul</span>
    </div>
  </div>

  <div>
    <span class="Detalhamento">DETALHAMENTO</span>
    <div class="line"></div>
  </div>

  <div class="display-line">
    <span class="Exibir">Exibir:</span>
    <input type="radio" id="todos" name="localizacao" value="todos" class="radio">
    <label for="todos" class="radio-text radio-text-todos">Todos</label>
    <input type="radio" id="centroOeste" name="localizacao" value="centroOeste" class="radio">
    <label for="centroOeste" class="radio-text radio-text-co">Centro Oeste</label>
    <input type="radio" id="spNorte" name="localizacao" value="spNorte" class="radio">
    <label for="spNorte" class="radio-text radio-text-spn">SP Norte</label>
    <input type="radio" id="spSul" name="localizacao" value="spSul" class="radio">
    <label for="spSul" class="radio-text radio-text-sps">SP Sul</label>
  </div>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="trem">
        <th mat-header-cell *matHeaderCellDef>TREM</th>
        <td mat-cell *matCellDef="let element"> {{element.trem}} </td>
      </ng-container>

      <ng-container matColumnDef="local">
        <th mat-header-cell *matHeaderCellDef>LOCAL</th>
        <td mat-cell *matCellDef="let element"> {{element.local}} </td>
      </ng-container>

      <ng-container matColumnDef="tripAtivo">
        <th mat-header-cell *matHeaderCellDef>TRIP ATIVO?</th>
        <td mat-cell *matCellDef="let element"> {{element.tripAtivo}} </td>
      </ng-container>

      <ng-container matColumnDef="falha">
        <th mat-header-cell *matHeaderCellDef>FALHA</th>
        <td mat-cell *matCellDef="let element"> {{element.falha}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div *ngIf="dataSource.data.length == 0">
      <div class="no-result-table">
        <span class="no-result-text" *ngIf="buscaRealizada">Nenhum resultado encontrado.</span>
        <span class="no-result-text" *ngIf="!buscaRealizada">Selecione um local para exibir.</span>
      </div>
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons *ngIf="dataSource.data.length != 0"></mat-paginator>
  </div>

  <!-- <div>
    <label for="latitude">Latitude:</label>
    <input id="latitude" type="number" [(ngModel)]="latitude" placeholder="Latitude">
  </div>

  <div>
    <label for="longitude">Longitude:</label>
    <input id="longitude" type="number" [(ngModel)]="longitude" placeholder="Longitude">
  </div> 
  <button (click)="setCenter()">Go</button>-->
</div>
<br>
<div class="col-6">
  <div id="map" class="map Map-Rectangle"></div>
</div>